<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>20.1 Newsletter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            
    <style>
        body{
            color:white;
            background-color: #1a1a1a;
        }
        #navid a{
          text-decoration: none;
        }
        .opening{
            width:100%;
            height:200px;
        }
        @media (max-width: 900px){
            .opening{
                width:100%;
            }
        }
        #slide a:hover{
          text-decoration: none;
              color: black;
        }
        footer{
          margin:auto;
          height: 50px;
          text-align: center;
          color:white;
        }
        #foot a{
          text-decoration: none;
          color: cornsilk;
        }
        .message{
          padding-top: 0.75%;
        }
    </style>
</head>

<body>
  <nav id="navid">
    <div class="nav-wrapper deep-purple darken-3">
      <div class="container">
        <a href="#" class="brand-logo">Forge Accelerator</a>
        <a href="#" class="sidenav-trigger" data-target="slide"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><img class="circle" src="https://cdn-images-1.medium.com/max/1200/1*WIkkoGe3qL3tZXL2iY4luw.jpeg" width="55" height="55" style="margin-top:3px;"></a></li>
          <li class="active"><a>Home</a></li>
          <li><a href="https://blog.forgeforward.in/">Blogs</a></li>
          <li><a href="#foot">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="slide">
    <li><div class="user-view">
      <div class="background">
        <img src="https://images.unsplash.com/photo-1527259216948-b0c66d6fc31f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="1000" height="750">
      </div>
      <a href="#user"><img class="circle" src="https://cdn-images-1.medium.com/max/1200/1*WIkkoGe3qL3tZXL2iY4luw.jpeg"></a>
    <li><a><i class="material-icons">home</i>Home</a></li>
    <li><a href="https://blog.forgeforward.in/"><i class="material-icons">border_color</i>Blogs</a></li>
    <li><a><i class="material-icons">local_phone</i>Contact</a></li>
  </ul>
    <div class="container">
        <h1 class="text-center mt-3">20.1 Newsletter</h1>
        <div class="row mt-5">
            <div class="col-lg-3 col-sm-12 mt-3">
                <div class="card" style="background-color:#1a1a1a;color:white;">
                    <img class="opening" src="https://a2.espncdn.com/combiner/i?img=%2Fphoto%2F2020%2F0319%2Fr681030_1296x729_16%2D9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptate tempora quam repellendus perspiciatis dolorem vitae labore itaque excepturi, incidunt doloribus sapiente atque vel voluptates dolorum culpa ipsam dolore corporis.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-sm-12 mt-3">
                <div class="card" style="background-color:#1a1a1a;color:white;">
                    <img class="opening" src="https://specials-images.forbesimg.com/imageserve/1024724898/960x0.jpg?fit=scale" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptate tempora quam repellendus perspiciatis dolorem vitae labore itaque excepturi, incidunt doloribus sapiente atque vel voluptates dolorum culpa ipsam dolore corporis.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-sm-12 mt-3">
                <div class="card" style="background-color:#1a1a1a;color:white;">
                    <img class="opening" src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/chorizo-mozarella-gnocchi-bake-cropped.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptate tempora quam repellendus perspiciatis dolorem vitae labore itaque excepturi, incidunt doloribus sapiente atque vel voluptates dolorum culpa ipsam dolore corporis.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-sm-12 mt-3">
              <div class="card" style="background-color:#1a1a1a;color:white;">
                  <img class="opening" src="https://a2.espncdn.com/combiner/i?img=%2Fphoto%2F2020%2F0319%2Fr681030_1296x729_16%2D9.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptate tempora quam repellendus perspiciatis dolorem vitae labore itaque excepturi, incidunt doloribus sapiente atque vel voluptates dolorum culpa ipsam dolore corporis.</p>
                  </div>
                </div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-lg-9">
                <div class="row card mx-2 mt-3" style="background-color:#1a1a1a;color:white;">
                    <div class="row card-body">
                        <div class="col-lg-3 col-sm-12">
                            <img class=""src="https://resources.pulse.icc-cricket.com/ICC/photo/2019/08/04/48581f98-d0f4-40f5-a73a-40e3d5178a90/GettyImages-1159285351.jpg" alt="" style="width:100%;">
                        </div>
                        <div class="col-lg-9 pt-2 px-2 card-text text-center" style="width:100%;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, velit, vitae excepturi explicabo in neque voluptatum dolorum rem similique officiis ab aspernatur. Quas aut, officiis illo quia pariatur harum obcaecati.</p>
                        </div>
                    </div>        
                </div>
            </div>
            <div class="col-lg-3 card pl-2" style="background-color:#1a1a1a;color:white;">
                <div class="row mt-2 card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum alias voluptas, commodi itaque, aperiam quibusdam veniam.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="deep-purple darken-3" id="foot">
      <div class="message">Contact Us At:<a href="https://www.forgeforward.in/">Our Offical Website</a></div>
    </footer>
    <script>
      const slide_menu=document.querySelectorAll(".sidenav");
      M.Sidenav.init(slide_menu,{});
    </script>
</body>

</html>